<?xml version="1.0" encoding="utf-8" ?>
<Project DefaultTargets="BuildNuGetPackage" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <SemVer Condition=" '$(ConfigurationName)' == 'Debug' ">-Beta</SemVer>
  </PropertyGroup>

  <Target Name="GetVersionInfo">
    <Message Text="Assembly : $(OutputPath)$(AssemblyName).dll" />
    <MSBuild.ExtensionPack.Framework.Assembly TaskAction="GetInfo" NetAssembly="$(OutputPath)$(AssemblyName).dll">
      <Output TaskParameter="OutputItems" ItemName="Info"/>
    </MSBuild.ExtensionPack.Framework.Assembly>

    <CreateProperty
            Value="%(Info.AssemblyInformationalVersion)">
      <Output
          TaskParameter="Value"
          PropertyName="Version" />
    </CreateProperty>

    <Message Text="Version : $(Version)" />
  </Target>

  <Target Name="BuildNuGetPackage" DependsOnTargets="GetVersionInfo">
    <CreateItem Include="Package.nuspec">
      <Output
          TaskParameter="Include"
          ItemName="NuSpecFiles"/>
    </CreateItem>
    <Copy SourceFiles="@(NuSpecFiles)" DestinationFiles="@(NuSpecFiles->'$(MSBuildProjectName)%(Extension)')" />

    <MSBuild.ExtensionPack.FileSystem.File TaskAction="Replace"
												RegexPattern="version&gt;([^&quot;&lt;]*)&lt;/version"
												Replacement="version&gt;$(Version)$(SemVer)&lt;/version"
												Files="$(MSBuildProjectName).nuspec"/>

    <Exec 
				Command='"$(NuGetExePath)" pack $(MSBuildProjectName).nuspec -Verbosity detailed' />
  </Target>

</Project>
